{%extends 'base.html'%}

 {% block content %}

 <body>

 <div class="container">
        <form role="search" action="{% url 'search_result' %}">

                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Travel Food Fashion " name="image">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                  </div>
                </div>
          
        </form>

    {% for img in pics %}

        <!--Display news Article images  -->
      
            <a><img src="{{img.image.url}}" class="img-responsive" alt="Image" width='200' length='200'></a>
      

    {% empty %}
        <div class="row">
            <h2 class="text-center">There No News Items</h2>
        </div>

  
    {% endfor %}
 </div>
</body>    
{% endblock %}